# Xcode
build/
repaste_app/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# macOS
.DS_Store
*.swp
*.lock
Profile.profraw

# Build artifacts
*.app
*.ipa
*.dSYM.zip
*.dSYM
*.dmg

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/

# Miscellaneous
*.moved-aside
*.hmap
*.ipa
